# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Outils et editeurs
.vscode/
.idea/

# Systeme
.DS_Store
Thumbs.db

# Image
src/cesipath/algorithms/image/*.png

# Benchmark outputs
benchmark_results*/
