# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
.venv/
venv/
env/
.venv_dash/
.venv_dash_test/
.venv*/
venv*/
env*/
*/.venv/
*/venv/
*/env/
*/.venv*/
*/venv*/
*/env*/

# Jupyter
.ipynb_checkpoints/

# Outils et editeurs
.vscode/
.idea/

# Systeme
.DS_Store
Thumbs.db

# Cache
cache/

# Artefacts locaux
testlog.py
