# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
.venv/
venv/
env/
.venv_dash/
.venv_dash_test/
.venv*/
venv*/
env*/
*/.venv/
*/venv/
*/env/
*/.venv*/
*/venv*/
*/env*/

# Jupyter
.ipynb_checkpoints/

# Outils et editeurs
.vscode/
.idea/

# Systeme
.DS_Store
Thumbs.db

# Cache Dash
cache/dash_diskcache/

# Artefacts locaux
testlog.py

# Images generees
src/cesipath/algorithms/image/*.png
image/benchmark_quality_*.png
image/benchmark_gap_*.png
image/benchmark_runtime_*.png
